* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:  url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: fixed;
  background-origin: border-box;
  
}